<!doctype html>
<head>
<title>Last 30 days closing prices</title>
</head>
<body>
	<div>
		<h2>Last 30 days closing price search engine</h2><BR>
  		<h4>Please enter a VALID stock ticker (eg. GOOG = Google, AAPL = Apple)</h4>
        <p>(Click <a href='https://www.quandl.com/data/WIKI/documentation/documentation'>here</a> for a full list of stock tickers)</p>
  		<form id='ticker_input' method='post' action='/stock_plot' >
    		<p>
    		Ticker symbol: <input type='text' name='ticker' />
      	</p>
      	
      	<p>
    		<input type='submit' value='Submit' />
      	</p>
    	</form>
	</div>
</body>
</html>